/**
 * This only a default css for  parent theme, using
 * some foundations mixins.
 */

// forms
form {
  .form-submit{
    @include button($radius:true, $bg:#1ABC9C);
    text-transform: uppercase;
    margin-top: rem-calc(15);
    margin-right: rem-calc(15);
    &:hover {
      @include single-transition()
    }
  }
  label {
    @include label($bg:$secondary-color);
    text-transform: uppercase;
  }
}

// drupal messages
#messages {
  text-align: center;
  opacity: 0.9;
}

#site-slogan {
  text-transform: uppercase;
}

// main menu &secondary menu as button groups.
#main-menu, #secondary-menu{
  @include button-group-container();
  li a {
    @include button($padding:rem-calc(7));
    border-right : solid white 1px;
  }
  & > li {
    @include button-group-style($float:left);
  }
}

#main-menu {
  li a{
    background-color: darken($secondary-color, 30);
    &.active {background-color: darken($secondary-color, 50)}
    &:hover {
      background-color: darken($secondary-color, 50);
      @include single-transition()
    }
  }
}

#secondary-menu{
  li a {
    background-color: #777;
    &.active {background-color: darken(#777, 10)}
    &:hover {
      background-color: darken(#777, 10);
      @include single-transition()
    }
  }
  // float right for secondary menu, but only on large screens
  & > li {
    @media #{$medium-up} {
      @include button-group-style($float:right);
    }
  }
}

.tabs.primary {
  @include sub-nav();
}

