// design a form button
@mixin okcdesign-form-button($color) {
  @include button(
    $bg:$color,
    $radius: true
  )
}

/**
 * design a ul / lu menu as a button group.
 * Apply on ul.
 */
@mixin okcdesign-menu--button-group($bg:$primary-color, $even:false, $radius:false) {
  @include button-group-container();
  background-color: $bg;

  li, ol {
    @include button-group-style($radius: $radius, $even: $even);
  }
  li a, ol a {
    @include button();
    margin: 0;
    width : 100%;
    border-bottom: solid white 1px;
    border-width: 0 1px 0 0;
  }

  @media #{$small-only} {

    margin-bottom: rem-calc(10px);

    li{
      width : 100%;
      border-radius: 0;

      a{
        border-width: 0 0 1px 0;
      }
    }
  }
}