// We have two ways to make drupal a good friend of foundation :
// - changing its html (@see plugins directory, this is its job)
// - use foundation mixins we possible to target drupal classes with foundation css.
// This is what we do here.


/*========================
  Sexy form submit buttons
  =======================*/

#edit-submit {
  @include okcdesign-form-button($secondary-color);
}

#edit-preview{
  @include okcdesign-form-button($secondary-color);
}

.form-item input{

}

form .description {
  @include form-label();
  font-style : italic;
  margin-bottom: rem-calc(10px);
  position: relative;
  top : rem-calc(-10px);
  color: gray;
}

/*========================
  Errors form submit buttons
  =======================*/

form .error {
  border: solid $alert-color 1px;
}

/*==========================
  menu local taks as subnav
  ==========================*/

.tabs {
  @include sub-nav();
}

/*=============================
  mamin menu as buttons groups
  =============================*/
#main-menu {
  //@include okcdesign-menu-top-bar($even:4);
  @include inline-list;
}

/**
 * Node links as rounded labels
 */
.links {
  @include inline-list;

  a {
    @include label($radius: true);
    @include label-style($bg:$secondary-color, $radius:1000px);
  }



}

/*========================
  Global layouts
  =======================*/

a.active {
  text-decoration: none;
}

#header{
  background-color: $secondary-color;
}

#sub-header{

  background-color: $primary-color;

  #site-informations {

    float: left;
    color:blakc;

    h1 a{
      text-align: center;
      font-size: rem-calc(30px);
      color :$secondary-color;

    }

    h1 small {
    //display: block;

    padding-top: rem-calc(10px);
    padding-bottom: rem-calc(10px);
    text-align: center;
      font-weight: normal;
    }
  }

  navigation {

    a{
      color:$secondary-color;
      font-weight: bold;
      padding-top: rem-calc(15px);
    }
  }

}

#presentation{
 // background-color: black;
  position: absolute;
  top : 0;
  left:0;
 // opacity: 0.2;

  h1 {
    opacity: 1;
  }
}

#image-header{
  top : rem-calc(0px);
  height:300px;
  overflow: hidden;


  img {
    position:relative;
    left : 180px;
    top: -70px;
    width: 800px;
  }
}

#section-content {
  //background-color : $secondary-color;
}

footer {
  padding: rem-calc(30px);
  background-color: $primary-color;
  color: $secondary-color;
  p {
    text-align: center;
    font-size: rem-calc(12px);
  }
}

.breadcrumbs {
  display: none;
}
