/*
Syntax error: File to import not found or unreadable: foundation.
              Load path: /Applications/MAMP/htdocs/okcdesign/sites/all/themes/okcdesign/scss (DEPRECATED)
        on line 2 of app.scss

1: @import "settings";
2: @import "foundation";
3: @import "mixins";
4: 
5: #edit-submit {
6:   @include okcdesign-form-button($secondary-color);
7: }

Backtrace:
app.scss:2
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/import_node.rb:45:in `import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/import_node.rb:28:in `imported_file'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/import_node.rb:37:in `css_import?'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:283:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/stack.rb:121:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/engine.rb:274:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/exec.rb:489:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/exec.rb:346:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/exec.rb:43:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/exec.rb:22:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/bin/scss:13:in `<top (required)>'
/usr/bin/scss:23:in `load'
/usr/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: foundation.\A               Load path: /Applications/MAMP/htdocs/okcdesign/sites/all/themes/okcdesign/scss (DEPRECATED)\A         on line 2 of app.scss\A \A 1: @import \"settings\";\A 2: @import \"foundation\";\A 3: @import \"mixins\";\A 4: \A 5: #edit-submit {\A 6:   @include okcdesign-form-button($secondary-color);\A 7: }"; }
