@import "settings";
@import "foundation";
@import "mixins";

#edit-submit {
  @include okcdesign-form-button($secondary-color);
}

#edit-preview{
  @include okcdesign-form-button($secondary-color);
}

#main-menu{
  @include sub-nav($font-size:rem-calc(20))
}